[submodule "packages/aravis"]
	path = packages/aravis
	url = https://github.com/AravisProject/aravis.git
[submodule "packages/gst-vimbasrc"]
	path = packages/gst-vimbasrc
	url = https://github.com/alliedvision/gst-vimbasrc.git
[submodule "packages/gst-interpipe"]
	path = packages/gst-interpipe
	url = https://github.com/RidgeRun/gst-interpipe.git
[submodule "packages/gstreamer-python"]
	path = packages/gstreamer-python
	url = https://github.com/jackersson/gstreamer-python.git
