Flask
flask_socketio
PyGObject==3.42.2
https://github.com/alliedvision/VmbPy/releases/download/1.0.5/vmbpy-1.0.5-py3-none-any.whl
git+https://github.com/jackersson/gstreamer-python.git
opencv-python
Pillow
psutil
requests>=2.25.0
piexif