body {
    margin: 0;
    padding: 0;
    height: 100vh; /* or simply use height: 100% with body and html */
    display: flex;
    flex-direction: column;
    background: transparent;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    flex: 1;
    margin: 0 5px;
}

.toolbar-filled {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px, rgba(0, 0, 0, 0.086) 0px 8px 12px 6px;
    width: 100%;
}

.stream-container {
    flex-grow: 1; /* Allow this container to grow and take available space */
    display: flex;
    justify-content: center; /* Center the stream horizontally */
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.stream {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintains aspect ratio while filling the container */
    object-position: top; /* Align the stream image to the top */
}

.custom-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.btn-transect {
    max-width: 200px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-only-input {
    background-color: #f8f9fa;
    cursor: not-allowed;
    opacity: 0.8;
}