<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}RTSP Server{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/copy-snackbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <script src="{{ url_for('static', filename='javascript/bootstrap/jquery-slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/bootstrap/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/stream.js') }}"></script>
    </head>
    <body>
        {% if include_navbar %}
            {% include 'navbar.html' %}
        {% endif %}
        <div id="content" class="container-fluid text-center"></div>
            {% block content %}{% endblock %}
        </div>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>