{% extends "base.html" %}
{% set include_navbar = false %}

{% block title %}Cockpit - AVT Camera{% endblock %}

{% block content %}
<div class="d-flex flex-column vh-100">
    <!-- Top Toolbar -->
    <div class="toolbar">
        <div class="input-group">
            <button class="btn btn-dark" onclick="setState('PREVIEW')"><i class="fa fa-eye"></i></button>
            <input type="text" id="folderNameInput" class="form-control bg-secondary text-white border-secondary" placeholder="Folder Name">
            <button class="btn btn-danger" onclick="setState('WRITE')"><i class="fa fa-circle"></i></button>
            <button type="button" class="btn btn-dark" onclick="window.open('/', '_blank')"><i class="fa fa-cog"></i></button>
        </div>
    </div>

    <div class="stream-container">
        <img id="live_feed" src="/video_feed" class="stream" alt="Live Feed">
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='javascript/camera.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/transect.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/state-handler.js') }}"></script>
{% endblock %}