{% extends "base.html" %}

{% block title %}Home - RTSP Server{% endblock %}

{% block content %}
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-12">
                <img id="live_feed" src="" alt="Live Feed" class="img-fluid mb-2"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="folderName" class="form-control" placeholder="Enter folder name">
            </div>
            <div class="col-md-3">
                <button id="recordButton" class="btn btn-success btn-block" onclick="toggleRecording()">Start</button>
            </div>
            <div class="col-md-3">
                <button id="restartButton" class="btn btn-warning btn-block" onclick="restartPipeline()">Restart Camera</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='javascript/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/parameters.js') }}"></script>
    <script>
        function restartPipeline() {
            socket.emit('restart_pipeline');
        }
    </script>
{% endblock %}