<!-- templates/index_full.html -->
<!DOCTYPE html>
<html>
    <head>
        <style>
            img {
                width: 100%;
                height: auto;
            }
            #recordButton {
                background-color: green;
                color: white;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <img id="live_feed" src="" alt="Live Feed"/>
        <br>
        <input type="text" id="folderName" placeholder="Enter folder name">
        <button id="recordButton" onclick="toggleRecording()">Start</button>
        <br>
        <input type="number" id="exposureTime" placeholder="Enter exposure time (ms)">
        <button onclick="updateExposureTime()">Update Exposure Time</button>
        <div id="recordingInfo">
            <p>Recording Duration: <span id="recordingDuration">0</span> seconds</p>
            <p>Folder Name: <span id="currentFolderName">transect</span></p>
        </div>
    </body>
</html>