{% extends "base.html" %}
{% set include_navbar = true %}

{% block title %}Parameters - RTSP Server{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Camera Parameters</h1>
        <form id="parametersForm">
            <div class="row font-weight-bold">
                <div class="col-md-4">Setting</div>
                <div class="col-md-4">Current Value</div>
                <div class="col-md-4">New Value</div>
            </div>
            {% for param_name, param_info in parameters.items() %}
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="{{ param_name }}">{{ param_info.label }}:</label>
                    </div>
                    <div class="col-md-4">
                        <span id="{{ param_name }}_current_value" class="current-value">{{ values[param_name] }}</span>
                    </div>
                    <div class="col-md-4">
                        {% if param_info.type == 'select' %}
                            <select id="{{ param_name }}" name="{{ param_name }}" class="form-control">
                                {% for option in param_info.options %}
                                    <option value="{{ option }}" {% if option == values[param_name] %}selected{% endif %}>{{ option }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input type="{{ param_info.type }}" id="{{ param_name }}" name="{{ param_name }}" value="{{ values[param_name] }}" class="form-control" placeholder="Enter {{ param_info.label }}">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-primary" onclick="updateParameters()">Update</button>
                    <button type="button" class="btn btn-secondary" onclick="resetParameters()">Reset</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='javascript/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/parameters.js') }}"></script>
{% endblock %}