{% extends "base.html" %}
{% set include_navbar = false %}

{% block title %}Preview - AVT Camera{% endblock %}

{% block content %}
<div class="d-flex flex-column vh-100">
    <!-- Top Toolbar -->
    <div class="toolbar">
        <div class="input-group">
            <button id="focusModeButton" class="btn btn-dark" onclick="toggleFocusMode()">
                <i class="fa fa-camera-retro"></i>
            </button>
            <button class="btn btn-dark" onclick="setState('PREVIEW')"><i class="fa fa-eye"></i></button>
            <input type="text" id="folderNameInput" class="form-control bg-secondary text-white border-secondary" placeholder="Folder Name">
            <button class="btn btn-dark" onclick="setState('WRITE')"><i class="fa fa-play"></i></button>
            <button type="button" class="btn btn-dark" onclick="window.open('/files', '_blank')"><i class="fa fa-folder"></i></button>
            <button type="button" class="btn btn-dark" onclick="window.open('/parameters', '_blank')"><i class="fa fa-cog"></i></button>
        </div>
    </div>

    <div class="stream-container">
        <img id="live_feed" src="/video_feed" class="stream" alt="Live Feed">
    </div>

    <div class="bg-light p-1">
        <div class="d-flex justify-content-between align-items-center">
            <div id="current-state" class="text-center"></div>
            <div class="form-group mb-0 d-flex align-items-center">
                <label for="focusToleranceSlider" class="mb-0 mr-2">Focus Sensitivity: <span id="focusToleranceValue">30</span></label>
                <input type="range" class="form-control-range" id="focusToleranceSlider" min="10" max="100" step="1" value="30">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='javascript/camera.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/transect.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/state-handler.js') }}"></script>
{% endblock %}